  .accordian-main {
    cursor: pointer;
    display: inline-block;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 14px;
    background-color: #663399;
    border: none;
    border-radius: 4px;
  
    padding: 10px;
    color: #fff;

    &:hover{
      transition: 0.5s;
      background-color: #3f205f;
    }
  }

  .button-url:hover{
    transition: 0.5s;
    background-color: #3f205f;
  }

.image-style1 {
  width: 3em;
}
  