.nav-theme{
    background-color:#101018f8 ;
    font-size: 20px;
}
.animate-navbar{
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 0.5s ease-in-out;
}

.dropdown-nav{
    background-color: #101018f8;
    color: #fff;
}

.dropdown-nav:hover{
    background-color: #101018f8;
    color: #fff;
}

@keyframes moveDown{
    from{
        transfrom: translateY(-5rem);
    }
    to {
        transform: translateY(0rem);
    }
}