body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-image: linear-gradient(to top, #1d8fe1 0%, #8e38d7 100%);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}